SESSION_NAME="Pyrogram String"
BOT_TOKEN="bot token"
BOT_NAME="bot name"
API_ID="api key"
API_HASH="api hash"
SUDO_USERS="user id" # List of user IDs separated by space
DURATION_LIMIT="10" # in minutes (default: 7)
